*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    text-decoration: none;
}
html,body{
    background-image: url("https://andro4all.com/files/2020/03/Luces-de-noche-700x1244.jpg");
    background-repeat: repeat;
    background-size: inherit;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
}
.container{
    min-height: 100vw;
    width: 100%;
}
header{
    position: sticky;
    background-color:#131212;
    top:-60;
}
.main-header{
    text-align: center;  
}
nav{
    margin-top: 5px;
    padding-bottom: 5px;
}
.logo-img{
    width: 30%;
    border-radius: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
img.logo-img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
nav ul li{
    display: inline-block;
}
.nav-links #link0:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.nav-links #link1:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.nav-links h3:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.nav-links{
    margin-left: 7%;
}
.nav-links li{
    margin-right: 5%;
}
h3{
    color: white;
    text-align: center;
}
section,form{
    position: relative;
    height: auto;
}
form{
    width: 100%;
    text-align: center;
}
fieldset{
    border: 0px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
input, button{
    width: 180px;
    height: 35px;
    border-radius: 15px;
}
input{
    color: black;
    border: none;
    padding-left: 0cm;
}
input:focus{
    outline: none;
}
button{
    width: 55px;
    border: none;
}
button:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.main{
    display: grid;
    grid-template-rows: 40% 40%;
}
.infoArtista{
    display: grid;
    grid-template-columns: 48% 50%;
    gap: 5px;
}
.fotoTrack img{
    height: 140px;
    width: auto;
    border-radius: 90px;
    margin-left: 10px;
}
.fotoTrack img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.infoArriba{
    padding-right: 5px;
}
.tituloTrack{
    font-size: 19px;
    color: white;
}
.botonAgregar{
    margin-left: 55px;
    margin-top: 20px;
}
.infoAbajo h3{
    font-size: 11px;
}
.videoTrack{
    display: none;
}
footer{
    position:absolute;
    width:100%;
    border-top: solid 5px #131212;
    margin-top: 5%;
}
.sponsors{
    color: white;
    letter-spacing: 5px;
    padding-bottom: 15px;
}
.fa-facebook-square:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.fa-twitter:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.fa-instagram:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.fa-whatsapp:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.anclaLocal{
    background-color: #131212;
    padding: 10px 20px;
}
.anclaLocal a,p{
    font-size: 12px;
    color: white;
}
.creditos{
    padding: 10px;
    padding-bottom: 0;
}
.deezer img{
    height: 60px;
    width: auto;
}
#experiencia, .sponsors, .textoCreditos, .deezer{
    text-align: center;
}
@media (min-width:375px){
    .tituloTrack{
        font-size: 21px;
        margin-left: 6px;
    }
}
@media (min-width:425px){
    .fotoTrack img {
        height: 160px;
    }
    .tituloTrack {
        font-size: 23px;
        margin-left: 10px;
    }
    .botonAgregar {
        margin-left: 55px;
        margin-top: 20px;
        height: 40px;
        width: 100px;
    }
    .infoAbajo h3{
        font-size: 16px;
    }
    .infoAbajo{
        margin-right: 6%;
    }
}
@media (min-width:768px){
    .container{
        position: relative;
    }
    main{
        margin-top: -6%;
        margin-left: 5%;
        min-width: 75vw;
    }
    header{
        display: block;
        position: absolute;
        height: 100vw;
        width: 24%;
        z-index: 1;
    }
    .logo-img{
        width: 80%;
        margin-bottom: 40px;
    }
    #link0{
        display: block;
    }
    #link1{
        display: block;
        margin-left: 0;
    }
    nav li{
        margin-bottom: 30px;
    }
    form{
        text-align: end;
        padding-right: 20px;
    }
    .infoArtista{
        margin-left: 27%;
        margin-top: 10%;
        gap: 0px
    }
    .tituloTrack {
        font-size: 25px;
        margin-left: 25px;
    }
    .botonAgregar {
        margin-left: 75px;
    }
    .videoTrack{
        display: grid;
    }
    .videoSong{
        margin-left: 27%;
        margin-top: 1%;
        width: 70%;
    }
    footer {
        margin-top: 0px;
        height: 100px;
        margin-left: 26%;
        width: 560px;
    }
    .anclaLocal a,p{
        font-size: 15px;
    }
    .creditos{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .deezer img{
        height: 85px;
    }
    .textoCreditos{
        padding-top: 35px;
        text-align: left;
    }
}
@media (min-width:1024px){
    .container{
        min-height: 48vw;
    }
    .main-header {
        height: 63vw;
        width: 16%;
    }
    main{
        margin-top: -3%;
        margin-left: -8%;
        min-height: 34vw;
    }
    .fotoTrack img {
        height: 160px;
        width: 215px;
        margin-left: 40%;
    }
    .tituloTrack {
        font-size: 30px;
        margin-left: 40px;
    }
    .botonAgregar {
        margin-left: 105px;
    }
    .infoArriba{
        margin: auto;
    }
    .infoDerecha{
        margin-right: 40%;
    }
    .infoAbajo {
        margin:auto;
    }
    .videoSong {
        margin-left: 40%;
        width: 625px;
        margin-top: 2%;
    }
    footer{
        bottom: -14%;
        margin-left: 20%;
        margin-bottom: 0%;
        width: 78%;
    }
    .anclaLocal{
        height: 115px;
    }
}
@media (min-width:1440px){
    .container{
        min-height: 35vw;
    }
    .main-header {
        height: 62vw;
    }
    main{
        min-height: 38vw;
    }
    footer{
        bottom: -17%;
    }
}

