*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    text-decoration: none;
}
html,body{
    background-image: url("https://andro4all.com/files/2020/03/Luces-de-noche-700x1244.jpg");
    background-repeat: repeat;
    background-size: inherit;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
}
.container{
    height: auto;
    width: 100%;
}
header{
    background-color:#131212;
    padding-bottom: 10px;
    text-align: center;
}
nav li{
    padding-left: 4px;
    padding-right: 4px;
    font-size: 30px;
}
ul.nav-links{
    display: inline;
    margin:0;
    padding: 0;
}
nav{
    margin-top: 0px;
    padding-bottom: 0px;
}
.logo-img{
    width: auto;
    height: 240px;
    margin-top: -30px;
    margin-bottom: -30px;
}
nav ul li{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;  
}
nav ul li i{
    color: white;
}
.menuHome:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.menuGenero:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.menuPlaylist:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.usuarioInfo:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
#route1,#route2,#route3,#route4{
    text-decoration: none;
}
nav h3{
    color: white;
    text-align: center;
    font-size: 14px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
section,form{
    position: relative;
    height: auto;
}
form{
    width: 100%;
    text-align: center;
}
fieldset{
    border: 0px solid;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
}
input, button{
    height: 35px;
    border-radius: 15px;
}
input{
    width: 50%;
    color: black;
    border: none;
    padding-left: 0cm;
}
input:focus{
    outline: none;
}
button{
    width: 55px;
    border: none;
}
button:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
#nameAlbum,#artName,#artistName,#genreArtist,#fecha,#masInfo{
    color: ivory;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 15px;
}
#artName{
    margin-bottom: 5px;
}
#fecha{
    margin-top: 0;
}
#masInfo{
    color: midnightblue;
    font-weight: bolder;
}
#songName,#selectedSong{
    color: whitesmoke;
    text-decoration: none;
    font-size: 90%;
}
#info button{ 
    text-align: center;
    width:70%;
}
.data ,#genre{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
#trackList{
    margin-right: 2%;
    margin-left: 2%;
}
.listSongs{
    padding: 5px 20px;
    padding-left: 30px;
}
.listSongs li{
    border-bottom: 1px solid #dfe1ea;
    color: rgb(253, 253, 253);
    margin-top: 5px;
    gap: 1%
}
.chartTracks{
    margin-left: auto;
    margin-right: auto;
}
#selectedSong{
    padding-left: 0;
}
a.songName{
    color: white;
    font-size: 80%;
}
#trackList h2{
    color: ivory;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    margin-bottom: 0;
}
.songAudio{
    text-align: end;
    width: 95%;
    height: 45px;
}
.buttonAdd{
    width: 135%;
    height: 30px;
}
.add{
    padding-bottom: 8px;
    padding-top: 8px;
}
audio{
    width: 100%;
    height: 60px;
    padding-bottom: 8px;
    padding-top: 8px;
}
footer{
    width:100%;
    border-top: solid 5px #131212;
    margin-top: 10px;
}
.sponsors{
    color: white;
    letter-spacing: 5px;
}
.anclaLocal{
    background-color: #131212;
    padding: 10px 20px;
}
.anclaLocal a,p{
    font-size: 12px;
    color: white;
}
.creditos{
    padding: 10px;
    padding-bottom: 0;
}
.sponsors{
    margin-top: 0;
}
#experiencia{
    margin-bottom:12px;
}
.deezer img{
    height: 60px;
    width: auto;
}
#experiencia, .sponsors, .textoCreditos, .deezer{
    text-align: center;
}
#equipo{
    margin:0;
}
.fa-facebook-square:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.fa-twitter:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.fa-instagram:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
  
/*Aca empieza el loader*/
.loader-wrapper{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #131212;
    display: flex;
    justify-content: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
.loader-wrapper.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
/*Aca termina el loader*/

@media (min-width:425px){
    nav li{
        padding-left: 5%;
        padding-right: 5%;
    }
    #nameAlbum{
        margin-top: 0;
    }
    .fotoAlbum{
        width: 100%;
        padding: 5% 5%;
        padding-top: 0;
    }
    #firstSection{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer p,a.ruta{
        font-size: 14px;
    }
}
/*Aca termina los cimientos de Mobile*/

@media (min-width:768px){
    nav h3{
        font-size: 20px;
    }
    .main-header{
        position: fixed;
        width: 24%;
        min-height: 100vw;
        padding-bottom: 0;
    }
    main{
        margin-left: 25%;
    }
    .logo-img {
        width: auto;
        height: 240px;
        margin-top: -30px;
        margin-bottom: -30px;
        padding-right: 10%;
        padding-left: 10%;
    }
    .nav-links{
        margin-bottom: 30px;
    }
    nav ul li{
        display: block;
        padding: 0;
        margin-bottom: 8%;
        font-size: 18px;
    }
    form{
        text-align: end;
        padding-right: 20px;
    }
    input{
        width: 18%;
    }
    .fotoAlbum{
        padding: 5% 10%;
    }
    #info{
        padding-top: 5%;
        padding-right: 5%;
    }
    footer{
        bottom: 0;
        width: 72%;
        margin-left: 28%;
        margin-top: 3%;
    }
    .anclaLocal a,p{
        font-size: 92%;
        color: white;
    }
    .sponsors a{
        font-size: 20px;
    }
    .anclaLocal .ruta{
        font-size: 16px;
    }
    .creditos{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .deezer img{
        height: 85px;
    }
    .textoCreditos{
        padding-top: 35px;
        text-align: left;
    }
}
/*Aca termina los cimientos de Tablet*/

@media (min-width:1024px){
    .container {
        min-height: 94vw;
        width: 100%;
    }    
    .main-header{
        width: 16%;
    }
    main{
        margin-left: 20%;
    }
    .seguir{
        width: 7%;
    }
    nav h3{
        font-size: 22px;
    }
    footer {
        width: 80%;
        margin-left: 20%;
    }
}
@media(min-width:1441px){
    #info{
        display: grid;
        grid-template-rows: 0.5 auto;
        padding-top: 4%;
    }
}
@media (min-width:2560px){
    nav h3{
        font-size: 30px;
    }
}
/*Aca termina los cimientos de Desktop*/