html,body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    width: 100%;
}
.grid-container{
    display: grid;
    grid-template-columns: 15% 85%;
    height: 20cm;
    width: 100%;
}
.izquierda{
    height: 100%;
    background-color:#131212;
    margin-left: 0cm;
    display: grid;
    grid-template-rows: 20% 80%;
    gap: 46px;
    border-right: solid 5px #131212;
}
.logo-img{
    max-width: 100%;
    border-radius: 60px;
}
.izquierda-abajo{
    display: grid;
    grid-template-rows: 80px 80px 80px;
    border-right: solid 5px #131212;
}
.menu{
    margin: 2px;
    padding: 10px;
    text-align: center;
}
h3{
    color: white;
}
.derecha{
    display: grid;
    grid-template-rows: 10% 90%;
    margin-left: 15px;
}
.arriba{
    height: 100%;
    margin-top: 0cm;
    padding-top: 20px;
    padding-right: 10px;
    background-color: black;
    margin-right: 3cm;
    border-bottom: solid 5px #131212;
}
form{
    text-align: right;
    width: 100%;
}
fieldset{
    border: 0px solid;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 0;
    padding-bottom: 20px;
    width: 100%;
}
input, button{
    position: relative;
    width: 200px;
    height: 40px;
    padding: 0cm;
    border-radius: 15px;
}
input{
    color: black;
    border: none;
    padding-left: 0cm;
}
input:focus{
    outline: none;
}
button{
    width: 60px;
    border: none;
}
.abajo{
    margin-top: 20px;
    display: grid;
    grid-template-rows: 33% 34% 33%;
}
.generos{
    display: grid;
    grid-template-rows: 20% 85%;
}
.generosArriba{
    padding-left: 15px;
    
}
.generosAbajo{
    margin: 0;
    box-sizing: border-box;
    padding-top: 25px;
}
.contenedorCarrusel{
    width: 80%;
    perspective: 1100px;
    position: relative;
    margin: auto;
    padding-left: 10cm;
}
.contenidoCarrusel{
    width: 10%;
    position: absolute;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
}
.contenidoCarrusel:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.contenidoCarrusel figure{
    width: 130px;
    height: 110px;
    overflow: hidden;
    position: absolute;
}
.contenidoCarrusel figure:nth-child(1){
    transform: rotateY(0deg) translateZ(180px);
}
.contenidoCarrusel figure:nth-child(2){
    transform: rotateY(40deg) translateZ(180px);
}
.contenidoCarrusel figure:nth-child(3){
    transform: rotateY(80deg) translateZ(180px);
}
.contenidoCarrusel figure:nth-child(4){
    transform: rotateY(120deg) translateZ(180px);
}
.contenidoCarrusel figure:nth-child(5){
    transform: rotateY(160deg) translateZ(180px);
}
.contenidoCarrusel figure:nth-child(6){
    transform: rotateY(200deg) translateZ(180px);
}
.contenidoCarrusel figure:nth-child(7){
    transform: rotateY(240deg) translateZ(180px);
}
.contenidoCarrusel figure:nth-child(8){
    transform: rotateY(280deg) translateZ(180px);
}
.contenidoCarrusel figure:nth-child(9){
    transform: rotateY(320deg) translateZ(180px);
}
.contenidoCarrusel figure:nth-child(10){
    transform: rotateY(360deg) translateZ(180px);
}
.contenidoCarrusel img{
    width: 120px
}
.contenidoCarrusel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
@keyframes rotar{
    from{
        transform: rotateY(0deg)
    }
    to{
        transform: rotateY(360deg);
    }
}
.playlists{
    display: grid;
    grid-template-rows: 15% 85%;
}
.playlistsArriba{
    padding-left: 15px;
}
.artistas{
    display: grid;
    grid-template-rows: 15% 85%;
}
.artistasArriba{
    padding-left: 15px;
}
h2{
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}

a{
    text-decoration: none;
    font-size: 15px;
}