*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    text-decoration: none;
}
html,body{
    background-image: url("https://andro4all.com/files/2020/03/Luces-de-noche-700x1244.jpg");
    background-repeat: repeat;
    background-size: inherit;
    font-family: 'Montserrat', sans-serif;
}
.container{
    min-height: 100vw;
    width: 100%;
}
header{
    position: sticky;
    background-color:#131212;
    top:-60;
}
.main-header{
    text-align: center; 
    height: 130px
}
nav{
    margin-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    margin-left: 25px;
}
.logo-img{
    width: 30%;
    border-radius: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
img.logo-img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
nav ul li{
    display: inline-block;
}
.nav-links #link0:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.nav-links #link1:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.nav-links h3:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
#link0{
    display: none;
}
#link1{
    margin-left: 40px;
}
h3{
    color: white;
    text-align: center;
}
section,form{
    position: relative;
    height: auto;
}
form{
    width: 100%;
    text-align: center;
}
fieldset{
    border: 0px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
input, button{
    width: 180px;
    height: 35px;
    border-radius: 15px;
}
input{
    color: black;
    border: none;
    padding-left: 0cm;
}
input:focus{
    outline: none;
}
button{
    width: 55px;
    border: none;
}
button:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.titulos{
    color: white;
}
.topArtists{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
}
.listaArtistas{
    color: white;
}
.artistasIzquierda{
    display: grid;
    grid-template-rows: 20% 80%;
    margin-left: 5px;
    gap: 15px;
}
.artistasArriba .titulos{
    margin-left: 5px;
}
.artistasAbajo{
    margin-left: 55px;
    font-size: 13px;
}
.artistasDerecha .fotoEjemplo{
    height: 110px;
    width: auto;
    margin-top: 15px;
    border-radius: 90px;
}
img.fotoEjemplo:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
.topTracks{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
}
.listaCanciones{
    color: white;
}
.cancionesIzquierda{
    display: grid;
    grid-template-rows: 20% 80%;
    margin-left: 5px;
    gap: 15px;
}
.cancionesArriba{
    width: 210px;
}
.cancionesArriba .titulos{
    margin-left: 5px;
}
.cancionesAbajo{
    margin-left: 55px;
    font-size: 13px;
}
.cancionesDerecha .fotoEjemplo{
    height: 110px;
    width: auto;
    margin-top: 25px;
    border-radius: 90px;
}
.topAlbums{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
}
.listaAlbums{
    color: white;
}
.albumsIzquierda{
    display: grid;
    grid-template-rows: 20% 80%;
    margin-left: 5px;
    gap: 15px;
}
.albumsArriba{
    width: 210px;
}
.albumsArriba .titulos{
    margin-left: 5px;
}
.albumsAbajo{
    margin-left: 50px;
    font-size: 13px;
}
.albumsDerecha .fotoEjemplo{
    height: 110px;
    width: auto;
    margin-top: 35px;
    border-radius: 90px;
}
footer{
    position:absolute;
    width:100%;
    border-top: solid 5px #131212;
    margin-top: 10px;
}
.sponsors{
    color: white;
    letter-spacing: 5px;
    padding-bottom: 15px;
}
.anclaLocal{
    background-color: #131212;
    padding: 10px 20px;
}
.anclaLocal a,p{
    font-size: 12px;
    color: white;
}
.creditos{
    padding: 10px;
    padding-bottom: 0;
}
.deezer img{
    height: 60px;
    width: auto;
}
#experiencia, .sponsors, .textoCreditos, .deezer{
    text-align: center;
}
@media (min-width:375px){
    .main-header{
        height: 155px;
    }
}
@media (min-width:425px){
    .main-header{
        height: 165px;
    }
    .topArtists{
        padding-left: 20px;
    }
    .topTracks{
        padding-left: 20px;
    }
    .topAlbums{
        padding-left: 20px;
    }
}
/*Aca termina los cimientos de Mobile, y tenemos que empezar a poner lo de Tablet. Aca empiezan a aparecer todos los Carrusels */